/*Login Main body Page*/
* {
    box-sizing: border-box;
}

:root {
    --footer-h: 220px;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    color:white;
}

.login-body {
    display:flex;
    flex-direction: row;

}

.login-visual {
    flex: 1;
    background-image: linear-gradient(rgba(39, 24, 82, 0.85), rgba(6, 4, 13, 0.85)),
      url("./image/login-background.jpg");

    overflow:hidden;
    background-size:cover;


}

.login-actionspace {
    display:flex;
    flex-direction: column;
    flex: 1;
    background-color: #F7F8FA;
}

.login-actionspace h1 {
    margin-top: clamp(3rem, 3vw, 3.5rem);
    text-align: center;
    font-size: clamp(3rem, 5vw, 4rem);
    font-weight: 400;
    text-indent: 2px;
    letter-spacing: 0.45rem;
    text-transform: uppercase;
    color:black;
}

.login-actionspace h2 {
    color: black;
    text-align: center;

    letter-spacing:0.1rem;
    font-weight: 300;
    font-size: clamp(1.5rem, 1.8vw, 2rem);
}

/*Login details*/
.login {
    
  
    min-height: 50vh;
    min-width: 25vw;
    
    justify-content: center;

    padding: clamp(1.5rem, 1.7vw, 2.5rem);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: min(20rem, 50%);
}

.login label {
    color: black;
    font-size: clamp(1.3rem, 1.4vw, 1.6rem);
}

.login-text {
    min-height: min(10%, 7rem);

    background-color: #F2F2F2;

    margin: 0.05rem auto;

    text-align: left;

    width: 90%;
    height: auto;

    padding: 0.2rem, 0.25rem;

    font-weight: 200;
    font-size: clamp(0.4rem, 0.8vw, 2rem);

    border: 1px solid #D1D5DB;
    border-radius: 10px 10px 0 0;
}

#username {
    min-height: min(10%, 7rem);

    background-color: #F2F2F2;

    margin: 0.05rem auto;

    text-align: left;

    width: 90%;
    height: auto;

    padding: 0.2rem, 0.25rem;

    font-weight: 200;
    font-size: clamp(0.4rem, 0.8vw, 2rem);

    border: 1px solid #D1D5DB;
    border-radius: 10px;
}

.login-text:focus {
  outline: none;
  border-color: #6366F1;
  box-shadow: 0 0 0 3px rgba(99,102,241,0.25);
}

.login .login-button {
    width: 90%;

    margin: 0 auto;

    font-size:  clamp(1rem, 1.2vw, 1.4rem);;

    color: white;
    background-color: #1F1F1F;

    border-radius: 0 0 10px 10px;
    border-width: 2px;
}

.login p {
    color: black;
}

.login a {
    color: #3B82F6;
    text-decoration: underline;
}

/*Footer*/
.footer {
    display: flex;
    margin-top: auto;
}

.footer a {
    color: black;
    margin:auto clamp(5px, 1.2vw, 20px) auto clamp(5px, 1.2vw, 20px);
    text-decoration: none;
}

.footer a:hover {
    color: #3B82F6;
    text-decoration: underline;
}

.footer p {
    color: black;
    margin: auto 1.2rem auto auto;
}

.footer img {
    margin: auto auto auto 5px;
    width: min(9rem, 10%);
    height: auto;
}